<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         testdox="true"
         beStrictAboutOutputDuringTests="false">
  <testsuites>
    <testsuite name="Jiaming_Huang_Tests">
      <file>tests/userAuthTest</file>
      <file>tests/accountManagmentTest</file>
    </testsuite>
    <testsuite name="Charlotte_Pham_Tests">
      <file>tests/profileManagementTest</file>
      <file>tests/Feature_Products_CatalogTest.php</file>
    </testsuite>
    <testsuite name="Thea_Ngo_Tests">
      <file>tests/Feature_Products_CatalogTest.php</file>
    </testsuite>
    <testsuite name="Michael_Sutjiato_Tests">
      <file>tests/Feature_Cart_ShoppingTest.php</file>
      <file>tests/SmokeTest.php</file>
      <file>tests/FunctionsTest.php</file>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="junit.xml"/>
  </logging>
</phpunit>