<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Rewrite rules for PHP routing -->
        <rewrite>
            <rules>
                <!-- Skip rewriting for actual files -->
                <rule name="Skip Files" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="None" />
                </rule>
                
                <!-- Skip rewriting for actual directories -->
                <rule name="Skip Directories" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>
                
                <!-- Route all other requests to router.php -->
                <rule name="Route to router.php" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="router.php" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
